
/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Header Styles */
header {
    background-color: #b71c1c;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-style: italic;
}

/* Content Styles */
main {
    max-width: 900px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

main p {
    margin-bottom: 1.5em;
    font-size: 1.3em;
}

/* Image Styling */
.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* List Styles */
ul {
    list-style: disc inside;
    padding: 0;
    margin: 20px 0;
    color: #b71c1c;
}

ul li {
    margin: 5px 0;
}

/* Link Styles */
a {
    color: #b71c1c;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #ff5252;
}

/* Footer Link Section */
.footer-links p {
    margin: 10px 0;
}

 /* Navigation Buttons */
 .nav-buttons {
    display: flex;
    justify-content:center;
    margin: 30px 0 20px;
}

.nav-buttons a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color: #b71c1c;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.nav-buttons a:hover {
    background-color: #8e0c0c;
}

/* Responsive Design */
@media (max-width: 600px) {
    header h1 {
        font-size: 2rem;
    }

    main {
        padding: 15px;
    }
    .nav-buttons {
        flex-direction: column;
        gap: 15px;
    }
}
